@import 'theme/style.scss';

@-webkit-keyframes ButtonSpinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes ButtonSpinner {
  to {
    transform: rotate(360deg);
  }
}

$style: Button;

$names: 'primary', 'secondary', 'danger';

$bg: (
  'primary': $B5,
  'secondary': $N0,
  'danger': $R6,
);
$bg-hover: (
  'primary': $B4,
  'secondary': $N0,
  'danger': $R5,
);
$bg-active: (
  'primary': $B6,
  'secondary': $N0,
  'danger': $R7,
);
$bg-disabled: (
  'primary': $N3,
  'secondary': $N2,
  'danger': $N3,
);
$color: (
  'primary': $N0,
  'secondary': $N10,
  'danger': $N0,
);
$color-hover: (
  'primary': $N0,
  'secondary': $N9,
  'danger': $N0,
);
$color-active: (
  'primary': $N0,
  'secondary': $N11,
  'danger': $N0,
);
$color-disabled: (
  'primary': $N6,
  'secondary': $N6,
  'danger': $N6,
);
$border: (
  'primary': $B5,
  'secondary': $N4,
  'danger': $R6,
);
$border-hover: (
  'primary': $B4,
  'secondary': $N3,
  'danger': $R5,
);
$border-active: (
  'primary': $B6,
  'secondary': $N5,
  'danger': $R7,
);
$border-disabled: (
  'primary': $N3,
  'secondary': $N4,
  'danger': $N3,
);
$devider: (
  'primary': $N0,
  'secondary': $N4,
  'danger': $N0,
);
$loading: (
  'primary': $N0,
  'secondary': $N10,
  'danger': $N0,
);

.#{$style} {
  cursor: pointer;
  border-radius: 2px;
  padding: 0px 16px;
  min-height: 32px;
  position: relative;
  border: 1px solid transparent;
  @include flex(center, center);
  box-shadow: $SH1;
  height: fit-content;
  @include transition(all);
  &__text {
    @include text($H12, 500, $N0);
    @include transition(all);
  }
  &__icon {
    text-transform: none;
    font-style: normal;
    @include text($H14, 500, $N0);
    @include transition(all);
    margin-right: 6px;
    line-height: 1;
  }
  &__extra {
    @include text($H12, 400, $N0);
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    @include flex(center, center);
    width: 32px;
    line-height: 1;
    display: none;
    border-left: 1px solid transparent;
    @include transition(all);
    * {
      flex-shrink: 0;
    }
  }
  svg.#{$style}__icon {
    @include svg(14px, $N0);
  }
  &__loading {
    display: none;
    position: absolute;
    @include svg(22px);
    fill: none;
    stroke-dasharray: 42px;
    stroke-dashoffset: 44px;
    stroke-width: 2px;
    z-index: 1;
    stroke-linecap: round;
    animation: 0.86s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite ButtonSpinner;
  }
  &._extra {
    padding-right: 32px + 16px;
    .#{$style}__extra {
      display: flex;
    }
  }
  &._loading {
    color: transparent;
    cursor: not-allowed;
    pointer-events: none;
    > *:not(.#{$style}__loading) {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
  &._fluid {
    width: 100%;
  }
  @each $name in $names {
    &.#{$name} {
      background-color: map-get($bg, $name);
      border-color: map-get($border, $name);
      .#{$style}__text {
        color: map-get($color, $name);
      }
      .#{$style}__extra {
        color: map-get($color, $name);
        border-color: map-get($border, $name);
      }
      .#{$style}__icon {
        color: map-get($color, $name);
        fill: map-get($color, $name);
      }
      .#{$style}__loading {
        stroke: map-get($loading, $name);
      }
    }
    &.primary {
      .#{$style}__extra {
        border-color: map-get($devider, $name);
      }
    }
    @include media($screen-desktop) {
      &.#{$name}:hover {
        background-color: map-get($bg-hover, $name);
        border-color: map-get($border-hover, $name);
        .#{$style}__text {
          color: map-get($color-hover, $name);
        }
        .#{$style}__extra {
          color: map-get($color-hover, $name);
          border-color: map-get($border-hover, $name);
        }
        .#{$style}__icon {
          color: map-get($color-hover, $name);
          fill: map-get($color-hover, $name);
        }
      }
    }
    &.primary:hover {
      .#{$style}__extra {
        border-color: map-get($devider, $name);
      }
    }
    &.#{$name}:active {
      background-color: map-get($bg-active, $name);
      border-color: map-get($border-active, $name);
      box-shadow: none;
      .#{$style}__text {
        color: map-get($color-active, $name);
      }
      .#{$style}__extra {
        color: map-get($color-active, $name);
        border-color: map-get($border-active, $name);
      }
      .#{$style}__icon {
        color: map-get($color-active, $name);
        fill: map-get($color-active, $name);
      }
    }
    &.primary:active {
      .#{$style}__extra {
        border-color: map-get($devider, $name);
      }
    }
    &.#{$name}:disabled {
      background-color: map-get($bg-disabled, $name);
      border-color: map-get($border-disabled, $name);
      box-shadow: none;
      cursor: not-allowed;
      .#{$style}__text {
        color: map-get($color-disabled, $name);
      }
      .#{$style}__extra {
        color: map-get($color-disabled, $name);
        border-color: map-get($border-disabled, $name);
      }
      .#{$style}__icon {
        color: map-get($color-disabled, $name);
        fill: map-get($color-disabled, $name);
      }
    }
    &.primary:disabled {
      .#{$style}__extra {
        border-color: map-get($devider, $name);
      }
    }
    &.#{$name}._loading {
      .#{$style}__loading {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }
  }
}
