@import 'theme/style.scss';
$style: Input;
.#{$style} {
  display: block;
  &__input {
    @extend %input;
  }
  &__label {
    display: inline-block;
    margin-bottom: 8px;
    @include text($H11, 500, $N13);
  }
}