@import 'theme/style.scss';
$style: Popup;
.#{$style} {
  position: fixed;
  @include position;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  overflow: auto;
  @include transition(all);
  &__inner {
    padding: 32px;
    height: 100%;
    @include flex(center, center);
  }
  &__card {
    background-color: $N0;
    border-radius: 2px;
    border: 1px solid $N4;
    box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.12);
    padding: 27px 32px 32px;
  }
  &__header {
    margin-bottom: 24px;
  }
  &__title {
    @include text($H16, 600);
  }
  &__close-btn {
    @include size(20px);
    @include flex(center, center);
    cursor: pointer;
    @include media {
      &:hover .#{$style}__close-icon {
        fill: $N4;
      }
    }
    &:active .#{$style}__close-icon {
      fill: $N6;
    }
  }
  &__close-icon {
    width: 100%;
    height: 100%;
    fill: $N5;
    @include transition(all);
  }
  &__content {
    margin-bottom: 30px;
  }
  &__button {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
