@import 'theme/style.scss';

$style: PopoverButton;

.#{$style} {
  cursor: pointer;
  @include flex(center, center);
  display: inline-flex;
  @include transition(all);
  &__text {
    @include text($H12, 600, $N13);
    margin-left: 6px;
    line-height: 1;
    @include transition(all);
  }
  &__icon {
    @include text($H11, 600, $B5);
    line-height: 1;
    @include transition(all);
  }
  svg.#{$style}__icon {
    @include svg(14px, $N5);
    position: relative;
    bottom: 1px;
  }
  @include media {
    &:hover {
      .#{$style}__text {
        color: $N10;
      }
      .#{$style}__icon {
        color: $N10;
        fill: $N10;
      }
    }
  }
  &:active {
    .#{$style}__text {
      color: $N13;
    }
    .#{$style}__icon {
      color: $N13;
      fill: $N13;
    }
  }
}
