@import 'theme/style.scss';

$style: Strategies;
.#{$style} {
  padding: 12px 40px;
  &__head {
    margin-bottom: 50px;
  }
  &__hotel-info {
    margin-bottom: 17px;
  }
  &__inputs {
    margin-right: 36px;
    flex-grow: 1;
  }
  &__input {
    flex-grow: 1;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
  &__cancel-btn {
    margin-right: 20px;
  }
  &__badge {
    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
  &__table {
    margin-bottom: 20px;
  }
  &__name-cell {
    width: 21%;
  }
  &__date-cell {
    width: 1%;
    white-space: nowrap;
  }
  &__date {
    @include text($H12, 600, $N10);
  }
  &__actions-icon {
    @include svg(16px, $N7);
  }
  &__popover {
    align-self: center;
  }
  &__popover-link {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
