* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  font-family: $base-font !important;
  scrollbar-color: $N6 transparent;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
    background: $N6;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    background-clip: content-box;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

button,
a {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
