@import 'theme/style.scss';

$style: Scheduler;
.#{$style} {
  &__scheduler {
    border-radius: 2px;
  }
  &__stat {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__dash {
    height: 1px;
    width: 4px;
    background-color: $N8;
    margin-bottom: 15px;
    margin: 0 8px 15px;
  }
  &__test-btn {
    margin-left: 20px;
  }
  &__header {
    margin-bottom: 20px;
  }
  &__weekname {
    @include text($H12, 400, $N7);
  }
  &__collector {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
  &__period {
    min-height: 32px;
    margin-right: 45px;
  }
  &__current-date {
    @include text($H14, 600);
    margin-right: 12px;
    min-width: 110px;
  }
  &__arrow-btn {
    @include flex(center, center);
    outline: none;
    border: none;
    cursor: pointer;
    &:not(:last-of-type) {
      margin-right: 8px;
    }
    @include media {
      &:hover .#{$style}__arrow-icon {
        fill: $N6;
      }
    }
    &:active .#{$style}__arrow-icon {
      fill: $N8;
    }
  }
  &__arrow-icon {
    @include svg(20px, $N7);
    &--right {
      transform: rotate(90deg);
    }
  }
}
