@import 'theme/style.scss';

$style: Scheduler;
.#{$style} {
  padding: 25px 40px;
  &__stat {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__dash {
    height: 1px;
    width: 4px;
    background-color: $N8;
    margin-bottom: 15px;
    margin: 0 8px 15px;
  }
  &__test-btn {
    margin-left: 20px;
  }
  &__header {
    margin-bottom: 20px;
  }
  &__weekname {
    @include text($H12, 400, $N7);
  }
}
