body {
  padding: 24px;
}

.section {
  padding: 24px;
  margin-bottom: 32px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  > * {
    margin-right: 32px;
  }
}

.title {
  display: block;
  margin-bottom: 22px;
}
