@import 'assets/fonts/stylesheet';
@import './core/vars';
@import './core/mixins';
@import './core/inheritance';
@import './core/common';

// Libraries
@import 'libraries/animate';

// Customize
// @import url('./custom/scheduler.css');
// @import url('./custom/scheduler-light-theme.css');