@import 'theme/style.scss';
$style: Popover;

.#{$style} {
  z-index: 2;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  @include transition(all);
  padding: 2px;
  &:hover {
    visibility: visible;
    opacity: 1;
  }
  &__wrapper {
    position: relative;
    & > *:first-child {
      position: relative;
      z-index: 0;
      pointer-events: all;
      &:hover ~ .#{$style} {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__card {
    pointer-events: all;
    padding: 12px 17px;
    background-color: $N0;
    box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
  }
}
