@import 'theme/style.scss';

$style: BackButton;
$bg-color: #ddf3fd;

.#{$style} {
  cursor: pointer;
  @include flex(center, center);
  display: inline-flex;
  @include transition(all);
  &__text {
    @include text($H12, 600, $B5);
    margin-left: 6px;
    line-height: 1;
    @include transition(all);
  }
  &__icon-wrapper {
    border-radius: 50%;
    padding: 2px;
    background-color: $bg-color;
    flex-shrink: 0;
    $size: 16px;
    width: $size;
    height: $size;
    @include flex(center, center);
    @include transition(all);
  }
  svg.#{$style}__icon {
    @include svg(16px, #ddf3fd);
    margin-right: 6px;
  }
  svg.#{$style}__icon-back {
    @include svg(14px, $B5);
    margin-right: 1px;
  }
  &._icon-right {
    .#{$style}__text {
      order: -1;
      margin-left: 0;
      margin-right: 6px;
    }
  }
  @include media {
    &:hover {
      .#{$style}__text {
        color: $B4;
      }
      .#{$style}__icon,
      .#{$style}__icon-back {
        color: $B4;
        fill: $B4;
      }
      .#{$style}__icon-wrapper {
        transform: translateX(-2px);
      }
    }
  }
  &:active {
    .#{$style}__text {
      color: $B6;
    }
    .#{$style}__icon,
    .#{$style}__icon-back {
      color: $B6;
      fill: $B6;
    }
    .#{$style}__icon-wrapper {
      transform: translateX(-4px);
    }
  }
}
