@import 'theme/style.scss';

$style: Strategy;
.#{$style} {
  &__header {
    padding: 40px;
    background-color: $N0;
  }
  &__head {
    margin-bottom: 30px;
  }
  &__hotel-info {
    margin-bottom: 17px;
  }
  &__inputs {
    margin-right: 36px;
    flex-grow: 1;
    @include media($screen-desktop-large) {
      flex-grow: 0;
      flex-basis: 50%;
    }
  }
  &__input {
    flex-grow: 1;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
    &--small {
      flex-grow: 1.1;
    }
    &--large {
      flex-grow: 2;
    }
  }
  &__cancel-btn {
    margin-right: 20px;
  }
  &__badge {
    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
  &__table {
    position: relative;
    z-index: 1;
    th,
    td {
      &:nth-child(1) {
        width: 20.1%;
      }
      &:nth-child(2) {
        width: 14.95%;
      }
      &:nth-child(3) {
        width: 14.95%;
      }
    }
  }
  &__name-cell {
    width: 25%;
  }
  &__date-cell {
    width: 150px;
  }
  &__date {
    @include text($H12, 600, $N10);
  }
  &__actions-icon {
    @include svg(16px, $N7);
  }
  &__popover {
    align-self: center;
  }
  &__popover-link {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__action-button {
    &:not(:last-child) {
      margin-right: 9px;
    }
  }
  &__schedule {
    padding: 25px 40px;
  }
  &__stat {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__dash {
    height: 1px;
    width: 4px;
    background-color: $N8;
    margin-bottom: 15px;
    margin: 0 8px 15px;
  }
  &__test-btn {
    margin-left: 20px;
  }
  &__add-btn {
    margin-top: 20px;
  }
}
