@import 'theme/style.scss';

$style: Strategy;
.#{$style} {
  padding: 40px;
  &__head {
    margin-bottom: 30px;
  }
  &__hotel-info {
    margin-bottom: 17px;
  }
  &__inputs {
    margin-right: 36px;
    flex-grow: 1;
    @include media {
      flex-grow: 0;
      flex-basis: 50%;
    }
  }
  &__input {
    flex-grow: 1;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
    &--small {
      flex-grow: 1.1;
    }
    &--large {
      flex-grow: 2;
    }
  }
  &__cancel-btn {
    margin-right: 20px;
  }
  &__badge {
    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
  &__table {
    margin-bottom: 20px;
  }
  &__name-cell {
    width: 25%;
  }
  &__date-cell {
    width: 150px;
  }
  &__date {
    @include text($H12, 600, $N10);
  }
  &__actions-icon {
    @include svg(16px, $N7);
  }
  &__popover {
    align-self: center;
  }
  &__popover-link {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
